#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 2em;
    box-shadow: -10px 0px 10px -5px rgba(0,0,0,0.2), 10px 0px 10px -5px rgba(0,0,0,0.2);
}

#main {
    margin-left: 2em;
    margin-right: 2em;
}

.center {
    text-align: center;
}

body {
    margin: 0 auto;
    background-color: #222831;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ececec;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#30475e;
}

nav li {
    float: left;
}

nav li a {
    color: #ececec;
    text-decoration: none;
    display: block;
    padding: 1em;
}

nav li a:hover {
    background-color: #233444;
}

nav li a.active {
    color: #30475e;
    background-color: #f2a365;
}

h2 {
    text-align: center;
}

td {
    padding: 1em;
}

img {
    display: block;
    margin: 0 auto;
}
